@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="animate__animated animate__fadeIn myLogo">
        <img id="frontPic" src="./pics/logo.png" alt="Logo">
    </div>
    <p>Welcome to Mega Desk your favorite desk quote plataform!</p>
</div>
